<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791592586779-6cbd2n19kdgg21sdngcr411uc33n684c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791592586779-6cbd2n19kdgg21sdngcr411uc33n684c</string>
	<key>API_KEY</key>
	<string>AIzaSyB-N4Cos8B1yzwbUXZLCUF3pF5NgSuuCdU</string>
	<key>GCM_SENDER_ID</key>
	<string>791592586779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloghub</string>
	<key>PROJECT_ID</key>
	<string>bloghub-271d6</string>
	<key>STORAGE_BUCKET</key>
	<string>bloghub-271d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791592586779:ios:70b20b64ae154431db32be</string>
</dict>
</plist>